*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

body{
    min-height: 100vh;
    background: #0c192c;
    
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.bolhas{
    position: absolute;
    display: flex;
    
}

.bolhas span{
    margin: 0 4px;
    width: 30px;
    height: 30px;
    background: #F08CAE;
    border-radius: 50%;
    box-shadow:0 0 0 10px #F08CAE44;
    animation: animar calc(110s/var(--i)) linear infinite;
  
}

@keyframes animar{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
.bolhas span:nth-last-of-type(even){
background: #2dc3ff;
box-shadow:0 0 0 10px #2dc3ff44;
}